/*Общий контейнер*/
.wrapper {
    display: grid;
    grid-template-columns: 40% 60%;

    background-color: #CFD8DC;
    margin-top: 15px;
    margin-bottom: 15px;

    height: 448px;
}

/*Стили для контактов*/
.wrapper .dialogsWrapper {
    width: 100%;
    height: 448px;

    border: none;

    overflow-y: scroll;
}

.wrapper .dialogsWrapper::-webkit-scrollbar {
    width: 8px;
}
.wrapper .dialogsWrapper::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #cfd8dc;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.wrapper .dialogsWrapper::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #bdbdbd;
    -webkit-box-shadow: inset 0 0 6px #757575;
}
.wrapper .dialogsWrapper::-webkit-scrollbar-thumb:window-inactive {
    background: #cfd8dc;
}

.wrapper .dialogsWrapper .dialogs {
    height: auto;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    padding: 0;
}

.wrapper .dialogsWrapper .dialogs .dialog {
    width: 100%;
    float: left;
    position: relative;
    display: block;
}

.wrapper .dialogsWrapper .dialogs .dialog a {
    outline: none;
    text-decoration: none;
}

.wrapper .dialogsWrapper .dialogs .dialog a, a:active, a:focus {
    outline: none;
}

.wrapper .dialogsWrapper .dialogs .dialog .contact {
    display: grid;
    grid-template-columns: 50px 1fr;

    border-bottom: 2px solid #607D8B;
    margin-left: 10px;
    margin-right: 1px;
    margin-top: 10px;
    padding-bottom: 10px;
}

.wrapper .dialogsWrapper .dialogs .dialog .contact:hover {
    border-bottom: 2px solid #455A64;
}

.wrapper .dialogsWrapper .dialogs .dialog .contact img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.wrapper .dialogsWrapper .dialogs .dialog .contact .preview {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:'p p' ' sm se';

    margin-left: 10px;
}

.wrapper .dialogsWrapper .dialogs .dialog .contact small {
    grid-area: sm;
    font-size: 10px;
    font-family: "Fira Code", sans-serif;
    color: #757575;
    justify-self: end;
}

.wrapper .dialogsWrapper .dialogs .dialog .contact p {
    grid-area: p;

    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;

    font-size: 16px;
    color: #212121;
    font-weight: bold;
    font-family: "Fira Code", sans-serif;
}

.wrapper .dialogsWrapper .dialogs .dialog .contact .seen {
    grid-area: se;
    justify-self: end;
}

.wrapper .dialogsWrapper .dialogs .dialog .contact .seen span {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 15px;
    height: 15px;
    font-size: 12px;
    font-weight: bold;
    font-family: "Fira Code", sans-serif;
    color: #CFD8DC;
    background-color: #455A64;
    border-radius: 5px;
}

.wrapper .dialogsWrapper .dialogs .dialog .contact .seen img {
    width: 15px;
    height: 15px;
    background-color: #CFD8DC;
}





/*Стили для сообщений*/
.wrapper .scrollWrapper {
    padding-right: 2px;
}

.wrapper .scrollWrapper .messagesWrapper {
    width: 100%;
    border: none;
    height: 448px;
    overflow-y: scroll;
}

.wrapper .scrollWrapper .messagesWrapper::-webkit-scrollbar {
    width: 8px;
}
.wrapper .scrollWrapper .messagesWrapper::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #cfd8dc;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.wrapper .scrollWrapper .messagesWrapper::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #bdbdbd;
    -webkit-box-shadow: inset 0 0 6px #757575;
}
.wrapper .scrollWrapper .messagesWrapper::-webkit-scrollbar-thumb:window-inactive {
    background: #cfd8dc;
}

.wrapper .scrollWrapper .messagesWrapper .messages {
    height: auto;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    padding-left: 4px;
    padding-top: 10px;
}


.contactMessages {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 4px;
}

.contactMessages img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 4px;
    margin-left: 6px;
}

.contactMessages .message {
    background-color: #757575;
    border-radius: 15px;

    padding-left: 10px;
    padding-right: 10px;
}

.contactMessages .message .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border-bottom: 1px solid #465A64;
}

.contactMessages .message .header .name {
    font-weight: bolder;
    font-size: 14px;
    font-family: "Fira Code", sans-serif;
}

.contactMessages .message .header .passed {
    font-size: 10px;
    font-family: "Fira Code", sans-serif;
    color: #cfd8dc;
}

.contactMessages .message .text {
    font-style: italic;
    font-size: 12px;
    font-family: "Fira Code", sans-serif;
    color: #bdbdbd;
}


.myMessages {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 4px;
}

.myMessages img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 4px;
    margin-right: 6px;
}

.myMessages .message {
    background-color: #bdbdbd;
    border-radius: 15px;

    padding-left: 10px;
    padding-right: 10px;
}

.myMessages .message .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border-bottom: 1px solid #465A64;
}

.myMessages .message .header .name {
    font-weight: bolder;
    font-size: 14px;
    font-family: "Fira Code", sans-serif;
}

.myMessages .message .header .passed {
    font-size: 10px;
    font-family: "Fira Code", sans-serif;
    color: #607D8B;
}

.myMessages .message .text {
    font-style: italic;
    font-size: 12px;
    font-family: "Fira Code", sans-serif;
    color: #757575;
}