/*Обертка страницы*/
.pageContents {
  display: block;

  padding-bottom: 50px;
  color: #212121;
}

/*Главный стиль для разметки содержимого*/
.appWrapper {
  display: grid;/*задает содержимое как контейнер*/
  grid-template-rows: 65px 1fr 250px;

  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
}

.content {
  display: grid;
  grid-template-columns: 25% 55% 20%;

  width: 1050px;
  max-width: 1050px;

  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
}